{{#unless textarea}}
  <input 
    type={{type}} 
    value={{get model valuePath}} 
    oninput={{action (action "checkValidity" changeset (changeset model validations "name")) value="target.value"}}
    onblur={{action "validateProperty" changeset valuePath}}
    placeholder={{placeholder}} 
    autofocus={{autofocus}} 
    readonly={{readonly}}
    autocomplete={{autocomplete}}
    disabled={{disabled}}
    required={{required}}>

{{else}}
  {{textarea 
    value=(get model valuePath)
    keyup=(action (action "checkValidity" changeset (changeset model validations "name")) value="target.value")
    focusOut=(action "validateProperty" changeset valuePath)
    placeholder=placeholder
    autofocus=autofocus
    readonly=readonly
    disabled=disabled
    autocomplete=autocomplete
    autoresize=true
    aria-multiline="true"
    required=required}}

{{/unless}}

{{#if showError}}
  {{#if (get changeset.error valuePath)}}
    <ul>
      {{#each (get (get changeset.error valuePath) "validation") as |message|}}
        <li class="error">{{message}}</li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
