{{outlet}}

{{#with (changeset model validations) as |changeset|}}
  <form role="form" autocomplete=off class="new-event-form t-new-event-form" {{action "submitEvent" newEvent on="submit"}}>
    {{validated-input
      model=model
      valuePath="title"
      changeset=changeset
      placeholder="Title"
      autofocus=true
    }}
    {{validated-input
      model=model
      valuePath="email"
      type="email"
      changeset=changeset
      placeholder="Email"
      name="email"
    }}
    {{validated-input
      model=model
      valuePath="password"
      type="password"
      changeset=changeset
      placeholder="password"
      name="password"
    }}
    {{validated-input
      model=model
      valuePath="passwordConfirmation"
      type="password"
      changeset=changeset
      placeholder="password confirmation"
      name="passwordConfirmation"
    }}
    {{validated-input
      model=model
      valuePath="name"
      changeset=changeset
      placeholder="Name"
      textarea=true
    }}
    {{validated-input
      model=model
      valuePath="first_name"
      changeset=changeset
      placeholder="First Name"
      label="First Name"
      textarea=true
    }}
    <button
      role="button"
      type="submit"
      disabled={{if changeset.isInvalid "disabled"}}
      onclick={{action "validate" changeset}}>
      SUBMIT
    </button>
  </form>
{{/with}}
